

<% include ./layout %>
<div class="welcomeContainer">
<h1>OAuth Server</h1>
<p>Welcome to <%= title %> friend! Huzzah!</p>
<img src="../public/huzzay.jpg" alt="Welcome Huzzay!" width="300" height="250">
</div>



